.box{
  height:100px;
  width:200px;
  background-color: red;
  border:10px solid blue;
}

.h1{
  font-family: Helvetica;
  font-size: 40px;
  font-weight: bold;
}

.h2{
  color: grey;
  font-family: times;
}

.h3{
  font-family: times;
  color: black;
  font-size: 15px;
}

.number{
  border:1px solid red;
  color: red;
  padding:2px;

}

.number:hover {
  background-color: red;
  color: #fff;
}

.footnote{
  position: fixed;
  bottom: 10px;
  left:10px;
  font-family: arial;
  display: none;
}

.footnote.showme{
  display: block;
}

.number1{
  color: black;
}

.metahaven{
  transition: 2s; 
}
.metahaven.orange{
  color:orange;
  font-size: 12px;
  transition: 2s;
}
