* {
  box-sizing: border-box;
}


/* Start here */

body {
  background-color: lightgray;
  font-family: arial;
}



.banner {
  background-color: white;
  width: 700px;
  height: 1000px;
  margin: auto;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner1 {
  background-color: pink;
  width: 700px;
  height: 1000px;
  margin: auto;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.banner1 {
  background-color: 	#F8F8FF;
  font-family: brandon-grotesque;
}


.banner1 {
  animation: colorchange 3s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 3s; /* Chrome and Safari */
    animation-iteration-count: infinite;
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: pink;}
  50%  {background: purple;}
  75%  {background: blue;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: pink;}
  50%  {background: purple;}
  75%  {background: blue;}
  100% {background: red;}
}


.row {
  display: flex;
}

.toolbar{
display: flex;
flex-wrap: wrap;
min-width: 1250px;
overflow: hidden;

}

.toolbar img {}

.header{
  width: 1250px;
  height: 45px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header1{
  width: 120px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header2{
  width: 120px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header3{
  width: 60px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header4{
  width: 60px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header5{
  width: 70px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header6{
  width: 68px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header7{
  width: 751px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header8{
  width: 275px;
  height: 60px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.header9{
  width: 235px;
  height: 60px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header10{
  width: 487px;
  height: 60px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header11{
  width: 252px;
  height: 60px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.footer{
  width: 1250px;
  height: 35px;
  position: fixed;
  bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer1{

  position: fixed;
  bottom: 50px;
  left: 1100px;

}

.css-typing
{
  width: 30em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 5s steps(50, end);
  font-family: cambria;
  font-size: 12px;
  }

  .paragraph {
    font-family: times;
    font-size: 12px;
    height: 180px;
    width: 100%;
    padding: 40px;

  }

  .time{
    font-size: 26px;
    font-family: helvetica;
    color: black;
    left: 30px;
    position: fixed;
    bottom: 50px;


  }


  @keyframes type{
    from { width: 0; }
    }

  @-webkit-keyframes type{
  from { width: 0; }
  }

  #square{

    width:8px;
    height: 8px;
    left:25px;

    padding: 15px;
    background-color: orange;
    z-index: 9;
    }



  .button {
    font-family: monospace;
    font-size: 12px;

  }

  .lastpage{
    font-family: monospace;
    font-size: 12px;
    height: 180px;
    left: 50px;
    width: 100%;
    padding: 40px;
  }

  .congratulations{
    font-family: helvetica;
    font-size: 40px;
    font-weight: 500;

  }


  .draggable {
    display: none;
    cursor: move;
    z-index: 1;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
  }


  /* counter timer */
.counter {
  font-family: helvetica, sans-serif;
  color: white;
  font-size: 40px;
  position: fixed;
  bottom: 10px;
  left:30px;
}

.counter:hover {
  font-size: 200px;
  margin: auto;
}

.counter__message {
  color: white;
  display:none;
    position: fixed;
    bottom: 210px;
    left: 40px;
    font-size: 50px;
    font-family: helvetica, sans-serif;
}

 .counter__message.showme {
  display: flex;
}


.draggable {
  display: none;
  cursor: move;
  z-index: 1;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

.christian {
  position: fixed;
  top: 350px;
  left: 300px;
  width: 250px;
}
