* {
  box-sizing: border-box;
}


/* Start here */

body {
  background-color: lightgray;
  font-family: arial;
}



.banner {
  background-color: white;
  width: 700px;
  height: 1000px;
  margin: auto;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner1 {
  background-color: ;
  width: 700px;
  height: 1000px;
  margin: auto;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.row {
  display: flex;
}

.toolbar{
display: flex;
flex-wrap: wrap;
min-width: 1250px;
overflow: hidden;

}

.toolbar img {}

.header{
  width: 1250px;
  height: 45px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header1{
  width: 120px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header2{
  width: 120px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header3{
  width: 60px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header4{
  width: 60px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header5{
  width: 70px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header6{
  width: 68px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header7{
  width: 751px;
  height: 20px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header8{
  width: 275px;
  height: 60px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.header9{
  width: 235px;
  height: 60px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header10{
  width: 487px;
  height: 60px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header11{
  width: 252px;
  height: 60px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.footer{
  width: 1250px;
  height: 35px;
  position: fixed;
  bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.css-typing
{
  width: 30em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 5s steps(50, end);
  font-family: cambria;
  font-size: 12px;
  }

  .paragraph {
    font-family: times;
    font-size: 12px;
    height: 180px;
    width: 100%;
    padding: 40px;

  }

  .time{
    font-size: 10px;
    font-family: helvetica;
    color: black;
    left: 500px;
  }


  @keyframes type{
    from { width: 0; }
    }

  @-webkit-keyframes type{
  from { width: 0; }
  }

  #square{

    width:8px;
    height: 8px;
    left:25px;

    padding: 15px;
    background-color: orange;
    z-index: 9;
    }



  .button {
    font-family: monospace;
    font-size: 12px;
  }

  .lastpage{
    font-family: monospace;
    font-size: 12px;
    height: 180px;
    left: 50px;
    width: 100%;
    padding: 40px;
  }

  .congratulations{
    font-family: helvetica;
    font-size: 40px;
    font-weight: 500;

  }
